<!DOCTYPE html>
<html ng-app="exerciseApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Exercise 6</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
</head>
<body>

<form class="container col-sm-offset-3 col-sm-6 col-sm-offset-3" ng-controller="ReservationCtrl as reservation" ng-submit="reservation.save()">

    <div class="page-header">
        <h1>Reservation Form</h1>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">First Name:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" placeholder="First Name" ng-model="reservation.formData.firstName">
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 control-label">Last Name:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="reservation.formData.lastName">
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">E-mail:</label>

        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="reservation.formData.email">
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">Refreshments:</label>

        <div class="col-sm-10">
            <label class="radio-inline" ng-repeat="refreshment in reservation.refreshments" for="refreshment_{{refreshment}}">
                <input type="radio" name="refreshments" id="refreshment_{{refreshment}}" ng-value="refreshment" ng-model="reservation.formData.refreshment">{{refreshment.status}}
            </label>
        </div>
    </div>
    <div class="row">
        <label for="zone" class="col-sm-2 control-label">Zone:</label>

        <div class="col-sm-10" id="zone">
            <select class="form-control" ng-model="reservation.formData.zone" ng-options="zone.color for zone in reservation.zones"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="reservation.formData.vip"> VIP
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <label for="date" class="col-sm-2 control-label">Date:</label>

        <div class="col-sm-10">
            <input type="date" class="form-control" id="date" placeholder="Date" ng-model="reservation.formData.date">
        </div>
    </div>
    <div class="row">
        <label for="comments" class="col-sm-2 control-label">Comments:</label>

        <div class="col-sm-10">
            <textarea class="form-control" id="comments" placeholder="Comments" ng-model="reservation.formData.comments"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default" ng-click="reservation.showSummary()">
                <span ng-if="!reservation.summaryVisible">Show data</span>
                <span ng-if="reservation.summaryVisible">Hide data</span>
            </button>
        </div>
    </div>
    <hr>
    <div ng-if="reservation.summaryVisible">
        <p>You are {{reservation.savedData.firstName || 'empty' }} {{reservation.savedData.lastName || 'empty'}}
            with mail: {{reservation.savedData.email || 'empty'}}.</p>

        <p>You set refreshment to: {{reservation.savedData.refreshment.status || 'not set'}}.</p>

        <p>Your zone is {{reservation.savedData.zone.color || 'not set'}}
            with VIP set to {{reservation.savedData.vip || 'empty'}}.</p>

        <p>Your day reservation is {{reservation.savedData.date || 'empty'}}.</p>

        <p>Your comments are {{reservation.savedData.comments || 'no comments'}}.</p>
    </div>
</form>

<script src="bower_components/angular/angular.js"></script>
<script src="ReservationCtrl.js"></script>
</body>
</html>
