body {
    padding: 100px 100px;
}
.btn-droppable {
    width: 180px;
    min-height: 30px;
    padding-left: 4px;
}

.btn-draggable {
    width: 160px;
}
.thumbnail {
    height: 280px;
}
.blue {
    background-color: #d9edf7 !important;
    text-align: center;
}
.red {
    background-color: #f2dede !important;
}
.green {
    background-color: #dff0d8; !important;
}